#container{
    width: 1024px;
    height: 100%;
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
}
#kutu1{
    width:300px;
    height:150px;
    background-color: red;
   
}
#kutu2{
    width:300px;
    height:150px;
    background-color: blue;
}
#kutu3{
    width:300px;
    height:150px;
    background-color: yellow;
}
